<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title th:text="${titulo}"></title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

	<nav style="width: 100%; padding:1%; align-items: center;" class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" th:href="@{/listar/doctores}">Inicio</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
			aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavDropdown">
			<ul class="navbar-nav">
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						Doctores
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" th:href="@{/listar/doctores}">Todos los doctores</a>
						<a class="dropdown-item" th:href="@{/form/doctor}">Nuevo doctor</a>
					</div>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						Pacientes
					</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
						<a class="dropdown-item" th:href="@{/listar/pacientes}">Todos los pacientes</a>
						<a class="dropdown-item" th:href="@{/form/paciente}">Nuevo paciente</a>
					</div>
				</li>
			</ul>
		</div>
		<a class="navbar-brand" style="color: white;" th:href="@{/logout}">Cerrar sesión</a>
	</nav>

	<div class="container">
		<h1
			class="text-secondary border border-success border-top-0 border-left-0 border-right-0"
			th:text="${titulo}"></h1>
		<p><a th:href="@{/form/doctor}" class="btn btn-success btn-xs">Crear doctor</a></p>
		<table class="table table-striped">
			<thead class="bg-dark text-white">
				<tr>
					<th>dni</th>
					<th>nombre</th>
					<th>apellido</th>
					<th>especialidad</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="doctor: ${doctores}">
					<td th:text="${doctor.dni}"></td>
					<td th:text="${doctor.nombre}"></td>
					<td th:text="${doctor.apellido}"></td>
					<td th:text="${doctor.especialidad}"></td>
					<td><a class="btn btn-primary btn-xs" th:href="@{/form/doctor/editar/} + ${doctor.dni}" th:text="'editar'"></a></td>
					<td><a class="btn btn-danger btn-xs" th:href="@{/form/doctor/eliminar/} + ${doctor.dni}" th:text="'eliminar'" onclick="confirm('Estás seguro que quieres eliminar?');"></a></td>
				</tr>
			</tbody>

		</table>
	</div>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>